@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans+Narrow&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.row{
    margin:0;
}

body{
    background: url('/images/morning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.wrapper{
    width: 50%;
    margin: 0 auto;
}


.loading{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    
}

.meta{
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meta:nth-of-type(2){
    flex-basis: 50px;
}

.data{
    text-align: center;
}

.weather-details,.country,.location-name{
    font-size: 30px;
    font-weight: 300;
}


.temp{
    font-size: 100px;
}

.wind-speed,.humidity{
    width: 40px;
    margin-right: 10px;
}


.wind,.humid{
    font-weight: 300;
    margin-left: 10px;
    font-size: 25px;
}



@media all and (max-width:1277px){
    .wrapper{
        width: 100%;
    }
}

@media all and (max-width:400px){
    .wrapper{
        width: 100%;
    }
}